<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech_Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Tech_Blog</a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <a href="/dashboard">Create Post</a>
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      <a href="https://github.com/Tcpenn">GitHub</a> 
      <div class = "spacer">  ||  </div> 
      <a href="mailto:tcpenn1026@gmail.com">Email</a>
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>